body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('new.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}

.container {
  width: 300px;
  padding: 20px;
  background-color:rgba(0,0,0,0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid aqua;
  border-radius: 4px;
  background-color:#5366;
  color: #ffff;
}

input:hover{
  border: 1px solid #6366fe;
  
}



button {
  width: 60%;
  padding: 10px;
  background: #6366f1;
  color: #fbefff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #06b6d4;
}

#switch-link {
  color: #06b6d4;
  cursor: pointer;
}

#switch-text {
  color: #fff;
}

#title {
  color:#6366f1 ;

}
a {
 color: aqua;
}

   hr {
     border: none;
     height: 2px;
     background: linear-gradient(to right, #6366a1, #6366f1, aqua);
   }
   
h1 {
  color: #6366f1;
}